@import '~antd/dist/antd.css';

:root {
  --text-primary: #2d2d2d;
  --bgPrimary: #fff;
  --bgSecondary: #e2e2e2;
  --orange: #ff8800;
  --border: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-primary);
}
a:hover {
  color: var(--orange);
}

.sidebar-nav {
  min-height: 100vh;
}
.backtotop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14;
}
.menu-left-icon .trigger-icon {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--bgPrimary);
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h2 {
  color: var(--orange);
  margin: 0;
}

.main-content .entry-content {
  background: var(--bgPrimary);
  padding: 30px;
}
.main-content .entry-header {
  padding: 0;
}
.cryptocurrency-search {
  width: 100%;
  margin: 30px 0 50px 0;
}
.cryptocurrency-search input {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 50px;
}

.footer-main {
  text-align: right;
}
.footer-main > div {
  margin: 0;
}
