@import '~antd/dist/antd.css';

:root {
  --text-primary: #2d2d2d;
  --bgPrimary: #fff;
  --bgSecondary: #e2e2e2;
  --orange: #ff8800;
  --border: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-primary);
}
a:hover {
  color: var(--orange);
}

.menu-left-icon .trigger-icon {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--bgPrimary);
}

.logo {
  height: 32px;
  margin: 16px;
  color: var(--bgPrimary);
}

.site-layout .site-layout-content {
  background: var(--bgPrimary);
}
.site-layout .site-layout-header {
  padding: 0;
}
